/* .App {
  flex: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.App-Contents {
  flex: 0.83;
  border: solid 1px green;
}

@media (max-width: 768px) {
  .App-Contents {
    flex: 1;
  }
} */

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.App-Contents {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
